@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif, 700; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #112B3C;
    color: white;
    font-family: 'montserrat';
}
.reloj{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reloj p{
    font-size: 10em;
}
.tiempo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fecha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fecha p{
    font-size: 4em;
    padding: 1%;
}
@media (max-width: 1240px){
    .reloj p{
        font-size: 5em;
    }
    .fecha p{
        font-size: 2em;
    }
}
@media (max-width: 650px){
    .reloj p{
        font-size: 3em;
    }
    .fecha p{
        font-size: 1.1em;
    }
}
@media (max-width: 400px){
    .reloj p{
        font-size: 2em;
    }
    .fecha p{
        font-size: .8em;
    }
}