@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif, 700; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #112B3C;
    color: white;
    font-family: 'montserrat';
}
.reloj{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reloj p{
    font-size: 10em;
}
.tiempo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fecha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fecha p{
    font-size: 4em;
    padding: 1%;
}